In [0]:
 /FileStore/tables/emp_1-1.csv

In [0]:
df = spark.read.csv("/FileStore/tables/emp_1-1.csv",header = True,inferSchema = True)

In [0]:
df.display()

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.select("emp_id","salary").show()

+------+------+
|emp_id|salary|
+------+------+
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  null|
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  null|
+------+------+

In [0]:
df.select("emp_id","salary").display()

emp_id,salary
1,10000
2,20000
3,55000
4,12000
5,20000
6,null
1,10000
2,20000
3,55000
4,12000
5,20000
6,null

In [0]:
df.select(df.emp_id,df.salary).show()

+------+------+
|emp_id|salary|
+------+------+
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  null|
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  null|
+------+------+

In [0]:
df.select(df.emp_id,df.salary).display()

emp_id,salary
1,10000
2,20000
3,55000
4,12000
5,20000
6,null
1,10000
2,20000
3,55000
4,12000
5,20000
6,null

In [0]:
df.display()

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df.select(df.columns[1:3]).display()

name,salary
manish,10000
rani,20000
rinku,55000
neha,12000
null,20000
rahul,null
manish,10000
rani,20000
rinku,55000
neha,12000
null,20000
rahul,null