In [0]:
/FileStore/tables/emp_1-5.csv

In [0]:
df = spark.read.csv("/FileStore/tables/emp_1-5.csv",header=True,inferSchema=True)

In [0]:
df.display()

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df.sort("salary").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.sort("salary","name").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.orderBy("salary").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.orderBy("salary","name").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.sort(df.salary.desc()).show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+

In [0]:
df.orderBy(df.salary.desc()).show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     3| rinku| 55000|  india|null| null|
|     3| rinku| 55000|  india|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     2|  rani| 20000|    usa|null| null|
|     5|  null| 20000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     4|  neha| 12000|    usa|null| null|
|     1|manish| 10000|  india|null| null|
|     1|manish| 10000|  india|null| null|
|     6| rahul|  null|  india|null| null|
|     6| rahul|  null|  india|null| null|
+------+------+------+-------+----+-----+