In [0]:
 /FileStore/tables/emp_1-2.csv

In [0]:
df = spark.read.csv("/FileStore/tables/emp_1-2.csv",header=True,inferSchema=True)

In [0]:
df.display()

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df.withColumn("salary1",df.salary*10).display()

emp_id,name,salary,address,loc,email,salary1
1,manish,10000,india,null,null,100000
2,rani,20000,usa,null,null,200000
3,rinku,55000,india,null,null,550000
4,neha,12000,usa,null,null,120000
5,null,20000,usa,null,null,200000
6,rahul,null,india,null,null,null
1,manish,10000,india,null,null,100000
2,rani,20000,usa,null,null,200000
3,rinku,55000,india,null,null,550000
4,neha,12000,usa,null,null,120000
5,null,20000,usa,null,null,200000
6,rahul,null,india,null,null,null

In [0]:
from pyspark.sql.functions import lit
df.withColumn("country",lit("usa")).display()

emp_id,name,salary,address,loc,email,country
1,manish,10000,india,null,null,usa
2,rani,20000,usa,null,null,usa
3,rinku,55000,india,null,null,usa
4,neha,12000,usa,null,null,usa
5,null,20000,usa,null,null,usa
6,rahul,null,india,null,null,usa
1,manish,10000,india,null,null,usa
2,rani,20000,usa,null,null,usa
3,rinku,55000,india,null,null,usa
4,neha,12000,usa,null,null,usa
5,null,20000,usa,null,null,usa
6,rahul,null,india,null,null,usa

In [0]:
df.withColumn("increment",lit(0)).display()

emp_id,name,salary,address,loc,email,increment
1,manish,10000,india,null,null,0
2,rani,20000,usa,null,null,0
3,rinku,55000,india,null,null,0
4,neha,12000,usa,null,null,0
5,null,20000,usa,null,null,0
6,rahul,null,india,null,null,0
1,manish,10000,india,null,null,0
2,rani,20000,usa,null,null,0
3,rinku,55000,india,null,null,0
4,neha,12000,usa,null,null,0
5,null,20000,usa,null,null,0
6,rahul,null,india,null,null,0

In [0]:
df.display()

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

In [0]:
from pyspark.sql.functions import col
df1 = df.withColumn("salary",col("salary").cast("Integer"))

In [0]:
df1.display()

emp_id,name,salary,address,loc,email
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null
1,manish,10000,india,null,null
2,rani,20000,usa,null,null
3,rinku,55000,india,null,null
4,neha,12000,usa,null,null
5,null,20000,usa,null,null
6,rahul,null,india,null,null

In [0]:
df1.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

In [0]:
df.withColumnRenamed("loc","location").show()

+------+------+------+-------+--------+-----+
|emp_id|  name|salary|address|location|email|
+------+------+------+-------+--------+-----+
|     1|manish| 10000|  india|    null| null|
|     2|  rani| 20000|    usa|    null| null|
|     3| rinku| 55000|  india|    null| null|
|     4|  neha| 12000|    usa|    null| null|
|     5|  null| 20000|    usa|    null| null|
|     6| rahul|  null|  india|    null| null|
|     1|manish| 10000|  india|    null| null|
|     2|  rani| 20000|    usa|    null| null|
|     3| rinku| 55000|  india|    null| null|
|     4|  neha| 12000|    usa|    null| null|
|     5|  null| 20000|    usa|    null| null|
|     6| rahul|  null|  india|    null| null|
+------+------+------+-------+--------+-----+